<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>396897822271-sl2fv5rp1dklip6bjuak6k4ukgid6l8h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.396897822271-sl2fv5rp1dklip6bjuak6k4ukgid6l8h</string>
	<key>API_KEY</key>
	<string>AIzaSyACWs1SCbn_a-qq9zrjkVvPi75PwcYdjDc</string>
	<key>GCM_SENDER_ID</key>
	<string>396897822271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.demofirebase</string>
	<key>PROJECT_ID</key>
	<string>demofirebase-70c69</string>
	<key>STORAGE_BUCKET</key>
	<string>demofirebase-70c69.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:396897822271:ios:e8f3996f474c08547a7a8a</string>
</dict>
</plist>